<nav class="navbar navbar-expand-lg navbar-dark   orange accent-3 ">

    <a class="navbar-brand" href="/">
        <img src="https://www.trzcacak.rs/myfile/detail/145-1451833_megaphone-loudhailer-speaker-sound-amplifier-voice-megaphone-clip.png" height="55" alt="mdb logo">
    </a>


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="basicExampleNav">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Home
            </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Pitches</a>
                <div class="dropdown-menu dropdown-primary " aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/pitches/mc12">mc12</a>
                    <a class="dropdown-item" href="/pitches/mc13">mc13</a>
                    <a class="dropdown-item" href="/pitches/mc15">mc15</a>
                    <a class="dropdown-item" href="/pitches/mc16">mc16</a>
                    <a class="dropdown-item" href="/pitches/mc17">mc17</a>
                    <a class="dropdown-item" href="/pitches/mc19">mc19</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About
              </a>
            </li>
        </ul>


        <div class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <a class="nav-item nav-link" href="{{url_for('auth.account')}}">Account</a>
            <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Log out</a> {% else %}
            <a class="nav-item nav-link badge badge-warning" href="{{url_for('auth.login')}}">Login</a>
            <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a> {% endif %}
        </div>

        <a class="navbar-brand" href="/">
        <img src="https://www.trzcacak.rs/myfile/detail/145-1451833_megaphone-loudhailer-speaker-sound-amplifier-voice-megaphone-clip.png" height="55" alt="mdb logo">
    </a>

        </nav>